@import 'tailwindcss';

@theme {
  --color-primary-100: #eee3ff;
  --color-primary-600: #8054c7;
  --color-primary-700: #5a3696;
  --color-secondary-600: #53c629;
  --color-light-text: #6b7280;
  --color-light-gray: #d1d5db;
  --color-searchbar: #f3f4f6;
  --color-cool-gray-200: #e5e7eb;
  --color-cool-gray-900: #111827;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@font-face {
    font-family: 'Greycliff';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/GreycliffCF-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Greycliff';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/GreycliffCF-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Greycliff';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('/fonts/GreycliffCF-ExtraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'Greycliff';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/fonts/GreycliffCF-Heavy.woff2') format('woff2');
}

@font-face {
    font-family: 'Greycliff';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/GreycliffCF-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Greycliff';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/GreycliffCF-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Greycliff';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/GreycliffCF-DemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Greycliff';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('/fonts/GreycliffCF-Thin.woff2') format('woff2');
}

body {
  font-family: 'Greycliff', sans-serif;
}